
.imagen {
	
	margin: 0 auto;
	margin-top: 150px;
	text-align: center;
}

h4 {
	color: teal;
	letter-spacing: 12px;
}

.imaka {
   		max-width: 100%;
	}

@media(max-width: 414px) {
  .imaka {
   		max-width: 90%;
	}
}	
