<div class="container">
	<div class="row">
		<div class="col-md-4 centered">
			<div class="card">
  				<div class="card-header">
  					<h5><span class="material-icons"><span class="material-icons">
  					person</span></span> LOGIN STOCK MARKET</h5>
  			    </div>
			<form class="forma" [formGroup]="loginForm">
 				<label>EMAIL</label>
 				<input type="text" class="form-control" formControlName="username" 
 					[class.is-invalid]="loginForm.get('username') && loginForm.get('username').invalid"> 
 				<label>PASSWORD</label>
 				<input type="password" class="form-control" formControlName="password" 
 					[class.is-invalid]="loginForm.get('password') && loginForm.get('password').invalid"> 
 				<button type="reset" class="btn btn-sm">RESET</button>
 				<button class="btn btn-sm" (click)="signIn()">SUBMIT</button>
 				<br>
  			</form>
  			<div class="error">{{ errorMessage }}</div>
		</div>	
		<button mat-raised-button color="accent" [routerLink]="['/signup']">Sign-In</button>
	</div>	
</div>

